:root {
  --color-main: rgb(7, 57, 122); 
  --color-cta: rgb(241, 116, 32);
  --color-cta-active: rgb(240, 165, 116);
  --textcolor-light: rgb(255, 249, 246);
  --textcolor-dark: rgb(36, 35, 35);
}

html {
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--textcolor-dark);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 200;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

p.content {
  font-weight: 200;
}

.hidden {
  display: none !important;
}


#page {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: var(--color-main);
  color: var(--textcolor-light);
}

.btn {
  border: none;
  border-radius: 3px;
  background: none;
  cursor: pointer;
}

.btn__main {
  padding: 1rem 2rem;
  background-color: var(--color-cta);
  color: var(--textcolor-light);
}

.btn__main--inactive {
  background-color: var(--color-cta-active);
}

.btn--main:disabled {
  background-color: var(--color-cta);
}

.content-box--small {
  width: 70%;
}

.section {
  padding: 2rem 2%;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-main);
  color: var(--textcolor-light);
  margin-bottom: 2rem;
  padding: 1rem;
}

.section__panel {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.wrapper--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.week-wrapper {
  min-height: 50vh;
}

.week-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.overview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.overview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%
}

.overview__chart-container {
  width: 40%;
}
